<div class="row mainview-container">

  <div class="proportion-wrapper">
    <div class="proportion-header">
      <h2>Kalkulator proporcji</h2>
    </div>

    <div class="prop-wrapper">

      <div class="proportion-container">


          <div class="a">
            <mat-form-field appearance="outline">
              <mat-label>A</mat-label>
              <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" [(ngModel)]="a" (ngModelChange)="update()" [disabled]="isDisabled('A')">
            </mat-form-field>
          </div>

          <div class="b">
            <mat-form-field appearance="outline">
              <mat-label>B</mat-label>
              <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" [(ngModel)]="b" (input)="update()" [disabled]="isDisabled('B')">
            </mat-form-field>
          </div>

        <div class="c">
          <mat-form-field appearance="outline">
            <mat-label>C</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" [(ngModel)]="c" (input)="update()" [disabled]="isDisabled('C')">
          </mat-form-field>
        </div>

        <div class="d">
          <mat-form-field appearance="outline">
            <mat-label>D</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" [(ngModel)]="d" (input)="update()" [disabled]="isDisabled('D')">
          </mat-form-field>
        </div>

        <div class="divider-a"><mat-divider class="divajder"></mat-divider></div>
        <div class="divider-b"><mat-divider class="divajder"></mat-divider></div>
        <div class="ex"><i class="fa-solid fa-x"></i></div>
      </div>

      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let box of toCalculate" [value]="box" (change)="radioChange(box)">
          {{box}}
        </mat-radio-button>
      </mat-radio-group>


      <div class="result">
        <mat-card style="background: aliceblue;">
          <mat-card-content>{{result}}</mat-card-content>
        </mat-card>
      </div>


    </div>



  </div>





</div>
