<div class="row mainview-container">

  <div class="proportion-wrapper">
    <div class="proportion-header">
      <h2>Kalkulator proporcji</h2>
    </div>

    <div class="prop-wrapper">

      <div class="proportion-container">
        <div class="a">
          <mat-form-field appearance="outline">
            <mat-label>X</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" >
          </mat-form-field>
        </div>
        <div class="b">
          <mat-form-field appearance="outline">
            <mat-label>X</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" >
          </mat-form-field>
        </div>
        <div class="c">
          <mat-form-field appearance="outline">
            <mat-label>X</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" >
          </mat-form-field>
        </div>
        <div class="d">
          <mat-form-field appearance="outline">
            <mat-label>X</mat-label>
            <input matInput class="centerinput" type="number" maxlength="6" autocomplete="off" >
          </mat-form-field>
        </div>
        <div class="divider-a"><mat-divider class="divajder"></mat-divider></div>
        <div class="divider-b"><mat-divider class="divajder"></mat-divider></div>
        <div class="ex"><i class="fa-solid fa-x"></i></div>
      </div>

      <div class="result">
        <mat-card style="background: aliceblue;">
          <mat-card-content>Simple card</mat-card-content>
        </mat-card>
      </div>


    </div>



  </div>



</div>
