/* HIDE ARROWS IN INPUT FORM */
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}


.mainview-container {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif
}

.mainview-container h2 {
  font-weight: 600;
}

.proportion-wrapper {
  padding-top: 5%;
}

.proportion-header {
  padding: 20px;
}

.proportion-table {
  margin: auto;
  text-align: center;
  min-width: 50%
}

.proportion-table tr {
  height: 50px;
}

.proportion-table td {
  padding: 15px;
}


.prop-wrapper {
  width: 50%;
  text-align: center;
  margin: auto;
}



/* GRID TEMPLATE */
.proportion-container {
  display: grid;
  grid-template-columns: 1fr 0.15fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "a . b"
    "divider-a ex divider-b"
    "c . d";
}

.a {
  grid-area: a;
  margin: 5px;
  display: inherit;
}

.b {
  grid-area: b;
  margin: 5px;
  display: inherit;
}

.c {
  grid-area: c;
  margin: 5px;
  display: inherit;
}

.d {
  grid-area: d;
  margin: 5px;
  display: inherit;
}

.divider-a {
  grid-area: divider-a;
}

.divider-b {
  grid-area: divider-b;
}

.ex {
  grid-area: ex;
  margin: auto;
  font-size: large;
  font-weight: 600;
}

.centerinput{
  text-align: center;
}

.divajder{
  margin-top: 10px;
}

.result {
  margin: 10px;
  padding-top: 10px;
  font-weight: 600;
  font-size: larger;
}

/* Remove subscript hint under input form field (angular 15+) */
:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
